
.menu{
    background: #59323c;
    width: auto;
}

.item_menu{
    font-size: 30px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

    .item_menu a{
        color: #f2eeb3;
        width: 200%;
        text-align: center;
    }